@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<EjemploAjaxActionLink.Models.DtoUsuario>

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Fecha alta
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usu in Model)
            {
            <tr>
                <td>@usu.IdUsuario</td>
                <td>
                    @usu.Usuario
                </td>
                <td>@usu.FechaAlta</td>
                <td>
                    @Ajax.ActionLink("Detalle", "ConsultarDetalleUsuario", new { idUsuario = usu.IdUsuario },
                    new AjaxOptions()
                    {
                        HttpMethod = "Get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "detalleUsuario",
                        OnSuccess = "cargaCorrectaDetalle"
                    })
                </td>
                <td>
                    @Ajax.ActionLink("Editar", "EditarUsuario", new { idUsuario = usu.IdUsuario },
                    new AjaxOptions()
                    {
                        HttpMethod = "Get",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "detalleUsuarioEditar",
                        OnSuccess = "cargaCorrectaEditar"
                    })
                </td>
            </tr>
            }

        </tbody>

    </table>
    <div class="modal fade" id="detalleUsuarioMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="detalleUsuario"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editarUsuarioMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalle usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="detalleUsuarioEditar"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>


</div>

<script>
    function cargaCorrectaDetalle() {
        //alert("Carga correcta")
        $('#detalleUsuarioMod').modal('show')
    }
    function cargaCorrectaEditar() {
        //alert("Carga correcta")
        $('#editarUsuarioMod').modal('show')
    }
</script>